* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 100%;
    height: auto;
    margin: auto;
}

.content {
    width: 100%;
}

.content img {
    width: 100%;
    margin: 30px auto;
}

.group-photo img {
    height: 300px;
    object-fit: contain;
}

.content .group-photo {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
}

.content .group-photo .text a {
    color: black;
}

.content .group-photo a {
    text-decoration: none;
}

.content .box {
    width: 23%;
    /* background-color: lemonchiffon; */
}

.content .box img {
    width: 100%;
    margin-bottom: 30px;
}

.content .box .text h3,h4 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline;
}

.content .box .text h4 {
    color: rgb(250, 50, 50);
    margin-left:30px;
}

.content .box .text {
    word-break: keep-all;
}

.content .box .link {
    width: 60%;
    display: flex;
}

.content .box .link-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 9px;
}

.content .box .link-icon {
    font-size: 25px;
    position: relative;
    top: 2px;
    left: 5px;
    transition: 0.5s;
}

.content .box .soldout {
    font-size: 15px;
    color: red;
}

.content .box .link:hover .link-icon {
    left: 10px;
}

.content .box .link:hover .link-text {
    text-decoration: underline;
}

.content .box :hover img {
    opacity: 0.9;
}

.content .link-text a,
.content .link-icon {
    color: #0067B8;
}
