main {
    width: 100%;
    padding-top: 100px;
    min-height: calc(100vh - 70px);
}

main .search_input {
    width: 30%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

main .search {
    width: 70%;
    margin: 20px auto;
    border: gainsboro solid 2px;
    border-radius: 5px;
    padding-bottom: 20px;
}

.item {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: gainsboro solid 1px;
    position: relative;
}

main .search .photo {
    width: 20%;
    margin-left: 20px;
    /* margin: 20px 0; */
}

main .search .photo img {
    width: 100%;
    height: 130px;
    object-fit: contain;
}

main .search .iteminfo {
    font-size: 15px;
    line-height: 25px;
    margin-left: 50px;
}

main .search .item_quantity {
    position: absolute;
    right: 200px;
}

main .search .link {
    position: absolute;
    right: 50px;
    bottom: 75px;
    display: flex;
}

main .search .link-text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 9px;
}

main .search .soldout {
    font-size: 15px;
    color: red;
}

main .search .link:hover .link-text {
    text-decoration: underline;
}

main .search .link-text a
{
    color: #0067B8;
}
